@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* background: #041c4a; */
  color: white;
  background-image: url(/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.text{
  color: linear-gradient(97.89deg, #FFFFFF 70.67%, rgba(117, 122, 140, 0) 108.55%);
}
.button{
  background: linear-gradient(310deg, rgb(0, 117, 255), rgb(33, 212, 253));;
}
.DashSecond{
  font-family: "Plus Jakarta Sans", sans-serif;

}